<% include partials/header %>

    <h2>You will find below the polls for which you can vote</h2>
    
    <% if (!currentUser) { %>
        <h2>To create and manage polls, please login</h2>
    <% }  else { %>
        <h2>To create polls, click on Create New Poll. Existing polls are managed via My Profile</h2>
    <% } %>
    
    <section class="container poll_list">
        <div class="row justify-content-around">
            <% polls.forEach(function(data){ %>
                <div class="col-md-6">
                    <a href="/poll/<%=data._id%>" class="btn btn-dark polls_objects text-truncate"><%= data.question %></a>        
                </div>
            <% }); %>  
            
        </div>

    </section>
    
<% include partials/footer %>