<% include partials/header %>

    <h2>You will find below the polls for which you can vote.</h2>
    <h2>If you wish to create a poll or to manage the ones you created, please login and go to My Profile.</h2>
    
    <section class="container poll_list">
        <div class="row justify-content-around">
            <% polls.forEach(function(data){ %>
                <div class="col-md-6">
                    <a href="/poll/<%=data._id%>" class="btn btn-dark polls_objects text-truncate"><%= data.question %></a>        
                </div>
            <% }); %>  
            
        </div>

    </section>
    
<% include partials/footer %>